<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <table id="entities_table" class="user-table-list">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </table>

    <!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script type="text/javascript">

        function ajaxGet(){

            $.getJSON('/user', function (json) {
                console.log(json);

                var tr = [];
                for (var i = 0; i < json.length; i++) {

                    tr.push('<tr>');
                    tr.push('<td><a id=' + json[i].id + ' href="/ui/user/read/' + json[i].id + '">' + json[i].id + '</a></td>');
                    tr.push('<td>'+json[i].firstName+'</td>');
                    tr.push('<td>'+json[i].lastName+'</td>');
                }

                $('#entities_table').append($(tr.join('')));
            });
        }

        $(document).delegate('#btnLogout','click',function(event){
            event.preventDefault();

            $.ajax({
                type: "GET",
                url: '/logout',
                success: function(result){
                    location.href="/auth/login";
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('LOGOUT ERROR!');
                }
            });
        });


        $(document).ready(function(){
            ajaxGet();
        });
    </script>

</div>
</body>
</html>