<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="default-content">
    <p class="welcome-message">Welcome to the Bellfam Portal</p>
    <div class="default-content-box">
        <div class="video-guide">
            <div class="video">
                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>-->
            </div>
            <div class="video-description">
                <p>This is video guide for ELD</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>