<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div sec:authorize="hasRole('ADMIN')" class="user-list-link">
        <a class="admin-profiles-links" href="/options/user-list">Users List</a>
    </div>
    <div th:switch="${presentationOptions}" class="profile-data">
        <div th:case="user-data"  th:insert="~{/layouts/content/profile/myProfile}">
        </div>
        <div sec:authorize="hasRole('ADMIN')" th:case="user-list" th:insert="~{/layouts/content/private/userList}" class="user-list">
        </div>
        <div th:case="user-read"  th:insert="~{/layouts/content/private/readUser}" class="read-user">
        </div>
    </div>
</body>
</html>