<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Bellfam Portal</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/bf-logo.png}">
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="header" th:insert="~{/layouts/header}"></div>
        <div class="content" th:insert="~{/layouts/content}"></div>
        <div class="footer" th:insert="~{/layouts/footer}"></div>
    </div>
</body>
</html>