<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/private/user-list.js}"></script>
</head>
<body>
    <table class="user-table-list"  id="user_table">
        <tr class="user-table-list-label">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
    </table>
</body>
</html>