<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Update Post</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>

<body>
<div class="w3-container">

    <p id="postId" hidden><span th:text="${id}"/></p>

    <div class="w3-container w3-bar w3-blue">
        <span class="w3-bar-item" style="padding-left:1px"><b>Update Post</b></span>

        <span class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_logout.jpg}"
                 alt="Logout"
                 style="width:27px;height:27px;"
                 title="Logout"
                 id="btnLogout">
        </span>

        <a href="/home" class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_home.png}"
                 alt="home"
                 style="width:27px;height:27px;"
                 title="home"></a>
    </div>
    <br>


    <table id="update_entity_table" class="w3-table w3-bordered">
        <tr>
            <th>Property Name</th>
            <th>Property Value</th>
        </tr>
        <tr>
            <td>Id</td>
            <td><label id="id" name="post_id_name" ></label></td>
        </tr>
        <tr>
            <td>Text</td>
            <td><input id="text" name="text_name" type="text"></td>
        </tr>

        <tr>
            <td>User ID</td>
            <td><input id="user_id" name="user_id_name" type="text"></td>
        </tr>

        <tr>
            <td>Date</td>
            <td><input id="date" name="date_name" type="text"></td>
        </tr>
    </table>

    <br>
    <br>


    <div class="container">
        <button id="btnSave" class="btnSaveAuto">Save</button>
        <button id="btnGoToRead" type="button">Cancel</button>
    </div>



    <script type="text/javascript">

        $.ajaxSetup({
            cache: false,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        });

        function PostDTO(id,text,userId,date){
            this.id = id;
            this.text = text;
            this.userId = userId;
            this.date = date;

        }

        $(document).delegate('#btnSave','click',function(event){
            event.preventDefault();

            var postId = $('#post_id').text();


            var text = $('#text').val();
            var userId = $('#user_id').val();
            var date = $('#date').val();




            var postDTO = new PostDTO(postId,text,userId,date);


            console.log(id);
            console.log(text);
            console.log(userId);
            console.log(date);

            console.log(postDTO);
            console.log(JSON.stringify(postDTO));

            $.ajax({
                type: "PUT",
                url: '/post',
                data: JSON.stringify(postDTO),
                success: function(result){
                    location.href="/ui/post/read/" + potsId;
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('PUT REQUEST ERROR!');
                }
            });
        });


        $(document).delegate('#btnGoToRead','click',function(result){

            var postId = $('#postId').text();

            location.href="/ui/post/read/" + postId;
            window.setTimeout(function(){
                location.reload();
            }, 1000);
        });


        function ajaxGet(){

            var postId = $('#postId').text();

            $.getJSON('/post/' + postId, function(json){

                console.log(json);

                $('#postId').text(json.postId);
                $('#text').val(json.text);
                $('#user_id').val(json.userId);
                $('#date').val(json.date);


            });
        }

        $(document).delegate('#btnLogout','click',function(event){
            event.preventDefault();

            $.ajax({
                type: "GET",
                url: '/logout',
                success: function(result){
                    location.href="/auth/login";
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('LOGOUT ERROR!');
                }
            });
        });

        $(document).ready(function() {
            ajaxGet();
        });

    </script>

</div>

</body>
</html>