<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="content-container">
    <div th:switch="${presentation}" class="content-presentation">
        <div th:case="default">
            <div th:insert="~{/layouts/content/default}">
            </div>
        </div>
        <div th:case="documents">
            <div th:insert="~{/layouts/content/private/documents}">
            </div>
        </div>
        <div th:case="options">
            <div th:insert="~{/layouts/content/options}">
            </div>
        </div>
        <div th:case="news" class="content-news" th:insert="~{/layouts/content/private/news}">
        </div>
        <div th:case="mail" class="content-news" th:insert="~{/layouts/content/private/mail}">
        </div>
    </div>
</div>
</body>
</html>