<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Bellfam Portal</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>
<body>
    <div class="header-label">
        <a href="/content/default">
        Bellfam
        </a>
    </div>
    <div class="header-menu">
        <div sec:authorize="hasRole('ADMIN')" class="header-menu-links">
            <a href="/private/documents" class="header-link">Documents</a>
            <a href="/private/news" class="header-link">News</a>
            <a href="/private/mail" class="header-link">Mail</a>
        </div>

        <div class="header-links-buttons">
            <a href="/options">
                <img th:src="@{/images/profile.png}"
                     alt="Options"
                     style="width:27px;height:27px;"
                     title="Options" class="header-icons">
            </a>
            <a  href="/logout" >
                <img th:src="@{/images/sign-out.png}"
                     alt="Logout"
                     style="width:27px;height:27px;margin-right:10px"
                     title="Logout" class="header-icons">
            </a>
        </div>
    </div>
</body>
</html>