<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Bellfam Portal</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>
<body>
    <div class="header-label">
        <a href="/content/default">
        Bellfam
        </a>
    </div>
    <div class="header-menu">
        <div sec:authorize="hasAnyRole('ADMIN','MANAGER')" class="header-menu-links">
            <a href="/private/documents" class="header-link">Documents</a>
            <a href="/private/news" class="header-link">News</a>
            <a href="/private/mail" class="header-link">Mail</a>
        </div>
       <!-- <div  class="header-menu-links">
            <a href="/contacts" class="header-link">Contacts</a>
        </div>-->

        <div sec:authorize="isAuthenticated()" class="header-links-buttons">
            <a href="/options">
                <img th:src="@{/images/profile.png}"
                     alt="Options"
                     title="Options" class="header-icons">
            </a>
        </div>
        <div class="login-registration" sec:authorize="!isAuthenticated()">
        <form class="logination-form" method="post" action="/process-login">
            <div class="login-registration-box">
                <input type="text" name="username" id="username" required="" placeholder="login"/>
                <input type="password" name="password" id="password" required="" placeholder="password"/>
            </div>
            <div class="login-registration-box">
                <button type="submit">login</button>
                <a href="/auth/registration" >registration</a>
            </div>
        </form>
        </div>
        <div sec:authorize="isAuthenticated()" class="header-links-buttons">
            <a  href="/logout" >
                <img th:src="@{/images/sign-out.png}"
                     alt="Logout"
                     title="Logout" class="header-icons">
            </a>
        </div>
    </div>
</body>
</html>